/* Put your CSS here */
.ember-application {
    margin: 20px;
}

html, body {
    background-color: black;
}

#map {
    height: 600px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#filter {
    display: block;
    float: none;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    top: 80px;
    position: absolute;
    right: 10px;
    z-index: 9999;
}

#map1 {
    height: 400px;
    width: 600px;
}

.window-bar {
    background-color: black;
}
.window-title {
    padding-left: 20px;
    font-size: large;
    color: white;
}

.window-close {
    padding-right: 20px;
}
